@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --primaryColor: #f8232e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

.nav-body {
  height: 6rem;
  width: 100%;
  background-color: var(--mainGrey);
  position: sticky;
  display: flex;
  align-items: center;


}